//
// SETTINGS
//


// -------------------------------------------------------------
// # Layout
// -------------------------------------------------------------

$site-width:                80%;
$site-max-width:            1140px;

// Mobile first
$bp-medium:                 850px;
$bp-large:                  1000px;


// -------------------------------------------------------------
// # Typography
// -------------------------------------------------------------

// Fonts
$sans:                      "proxima-nova";
$serif:                     "lust";
$mono:                      "Monaco";

// Base
$font-size:                 1.6rem;
$line-height:               1.6;

// Other
$font-size--large:          $font-size + .4;
$font-size--small:          $font-size - .2;
$regular:                   400;
$bold:                      600;
$letter-spacing:            1px;


// -------------------------------------------------------------
// # Colors
// -------------------------------------------------------------

$black:                     #222;
$grey:                      #EDEDED;
$white:                     #ffffff;

$accent:                     #fcd64b;


// -------------------------------------------------------------
// # Layout
// -------------------------------------------------------------

$margin:               30px;
$padding:              30px;


// -------------------------------------------------------------
// # Grid
// -------------------------------------------------------------

$grid-base-col-width:       60 !default;
$grid-base-gutter-width:    50 !default;
$grid-cols:                 12 !default;


// -------------------------------------------------------------
// # z-index
// -------------------------------------------------------------

$z-small:                   100;
$z-medium:                  200;
$z-large:                   300;


// -------------------------------------------------------------
// # Miscellaneous
// -------------------------------------------------------------

$radius:                    3px;