doctype html
html
    head
        meta(charset="utf-8")
        title Stockholms bästa
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="shortcut icon", href="img/favicon.ico")

        script(src="//use.typekit.net/qmb2dby.js")
        script.
            try{Typekit.load();}catch(e){}

        link(rel='stylesheet', href='css/app.css')
        link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css')

    body

        .blocker

        header.site-header

            img.logo(src="img/logo.svg")
            a.about-site-link(href="#") Om sidan

            .about-site-content
                p.no-margin.text-right
                    a(href="#")
                        span.ion-close.about-site-link-close
                h2 En okomplicerad guide för specifika tillfällen.
                p
                    | Sidan är skapad av två webbdesigners som också råkar ha ett brinnande matintresse.
                    | Nya kategorier och vinnare läggs löpande till i listan.
                hr
                p.small
                    | Tycker du att vi har helt fel får du gärna höra av dig och förklara varför.
                    | Du når oss bäst på hej@stockholmsbasta.se

            .hero-content
                h1.hero-title.text-center
                    span.hero-title-where Stockholms bästa
                    span.hero-title-what
                p.hero-desc.text-center
                    span Guiden som listar den bästa maten inom en rad utvalda kategorier.
                    span  En kategori, en vinnare. Ta reda på vilken mat som är Stockholms bästa.
                p.text-center
                    a.btn.btn--primary(href="#burger", data-scroll="burger") Gå till listan

            ul.site-nav
                li: a.site-nav-link(href="#burger", data-scroll="burger") Hamburgare
                li: a.site-nav-link(href="#sushi", data-scroll="sushi") Sushi
                li: a.site-nav-link(href="#kebab", data-scroll="kebab") Kebab
                li: a.site-nav-link(href="#taco", data-scroll="taco") Taco
                li: a.site-nav-link(href="#falafel", data-scroll="falafel") Falafel
                li: a.site-nav-link(href="#ramen", data-scroll="ramen") Ramen
                li: a.site-nav-link.toggle-mobile(href="#") Visa kategorier

        block content

        footer.site-footer
            .row
                .col-1
                .col-5
                    h2 En okomplicerad guide för specifika tillfällen.
                .col-5
                    p
                        | Sidan är skapad av två webbdesigners som också råkar ha ett brinnande matintresse.
                        | Nya kategorier och vinnare läggs löpande till i listan.

            .copyright
                .row.no-margin-bottom
                    .col-1
                    .col-5
                        p.small.no-margin-bottom
                            | Tycker du att vi har helt fel får du gärna höra av dig och förklara varför.
                            | Du når oss bäst på hej@stockholmsbasta.se
                    .col-5.text-right
                        img(src="img/logo.svg", width="150px")

        script(src="./js/app.js")