//
// FOOTER
//


.site-footer {
    background: $black;
    padding: 60px 0 0;

    @include bp(medium) { padding: 140px 0 0; }

    h2, p {
        color: $white;
    }
}

.copyright {
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 0;
    background: darken($black, 1%);

    @include bp(medium) { margin-top: 100px; }

    p {
        margin-top: 15px;
    }
}