extends layouts/master

block content

    section.category(id="burger", data-anchor="burger")
        .row
            p.category-title.text-center Stockholms bästa hamburgare
            h1.text-center.no-margin Flippin' Burgers

        .row.image-wrap
            img(src="img/flippin.jpg", style="width: 100%;")
            p.attribution
                a.no-border(href="http://www.flippinburgers.se") Foto av Flippin Burgers

        .row
            .col-1
            .col-4.quick-facts
                h4 Snabbfakta
                ul
                    li
                        span.ion-compass.quick-facts-icon
                        span.quick-facts-item: a(href="https://goo.gl/maps/XzUy2") Observatoriegatan 8
                    li
                        span.ion-home.quick-facts-icon
                        span.quick-facts-item: a(href="http://flippinburgers.se/") flippinburger.se
                    li
                        span.ion-bag.quick-facts-icon
                        span.quick-facts-item Take away: Ja.
                    li
                        span.ion-compose.quick-facts-icon
                        span.quick-facts-item Bordsbokning: Nej
            .col-6
                h4 Motivering
                p
                    | Med fokus på det enkla, ett bra stekt kött och saftigt bröd tar Flippin'
                    | Burgers hem priset som Stockholm bästa hamburgare. Burgartrenden fortsätter
                    | och det finns massvis med bra alternativ därute, som en av pionjärerna håller
                    | Flippin' Burgers alltjämt undan i racet.
                p.small
                    strong Utmanare:&nbsp;
                    a(href="www.lilysburger.com/") Lilys Burger
                    | &nbsp;|&nbsp;
                    a(href="http://www.theflyingelk.se/") The flying elk
                    | &nbsp;|&nbsp;
                    a(href="http://www.tweedbar.se/") Tweed

    section.category(id="sushi", data-anchor="sushi")
        .row
            p.category-title.text-center Stockholms bästa Sushi
            h1.text-center.no-margin Råkultur

        .row.image-wrap
            img(src="img/sushi.jpg", style="width: 100%;")
            p.attribution
                a.no-border(href="http://www.rakultur.se/") Foto av Råkultur

        .row
            .col-1
            .col-4.quick-facts
                h4 Snabbfakta
                ul
                    li
                        span.ion-compass.quick-facts-icon
                        span.quick-facts-item: a(href="https://goo.gl/maps/7NfWL") Kungstensgatan 2
                    li
                        span.ion-home.quick-facts-icon
                        span.quick-facts-item: a(href="http://www.rakultur.se/") rakultur.se
                    li
                        span.ion-bag.quick-facts-icon
                        span.quick-facts-item Take away: Ja.
                    li
                        span.ion-compose.quick-facts-icon
                        span.quick-facts-item Bordsbokning: Nej
            .col-6
                h4 Motivering
                p
                    | Här är det jämt – extremt jämt – men Råkultur tar ändå hem priset
                    | som Stockholms bästa sushi. Tack vare stor variation och idérikedom
                    | håller vi Råkultur strax före Sushi sho i denna kategori. Missa inte "A tribute
                    | to Momofoku", Korenska pannkakor med fläsk och tillbehör.

                p.small
                    strong Utmanare:&nbsp;
                    a(href="http://www.sushisho.se/") Sushi Sho
                     | &nbsp;|&nbsp;
                    a(href="https://goo.gl/maps/k730Q") Akki sushi

    section.category(id="kebab", data-anchor="kebab")
        .row
            p.category-title.text-center Stockholms bästa Kebab
            h1.text-center.no-margin Amida Kolgrill

        .row.image-wrap
            img(src="img/kebab.jpg", style="width: 100%;")
            p.attribution
                a.no-border(href="http://amida.se/") Foto av Amida

        .row
            .col-1
            .col-4.quick-facts
                h4 Snabbfakta
                ul
                    li
                        span.ion-compass.quick-facts-icon
                        span.quick-facts-item: a(href="https://goo.gl/maps/sDkNN") Folkungagatan 74
                    li
                        span.ion-home.quick-facts-icon
                        span.quick-facts-item: a(href="http://amida.se/") amida.se
                    li
                        span.ion-bag.quick-facts-icon
                        span.quick-facts-item Take away: Ja.
                    li
                        span.ion-compose.quick-facts-icon
                        span.quick-facts-item Bordsbokning: Nej
            .col-6
                h4 Motivering
                p
                    | Amida är för oss ohotad etta i en kategori med ett stort antal restauranger,
                    | men ett fåtal riktiga utmanare. Det kolgrillade adana-köttet är fantastiskt
                    | vällagat och gör sig bäst i en rulle som serveras med inlagd rödkål, sallad
                    | och yogurt.

    section.category(id="taco", data-anchor="taco")
        .row
            p.category-title.text-center Stockholms bästa Taco
            h1.text-center.no-margin La Neta

        .row.image-wrap
            img(src="img/taco.jpg", style="width: 100%;")

        .row
            .col-1
            .col-4
                h4 Snabbfakta
                ul
                    li
                        span.ion-compass.quick-facts-icon
                        span.quick-facts-item: a(href="https://goo.gl/maps/jTA2S") Barnhusgatan 2
                    li
                        span.ion-home.quick-facts-icon
                        span.quick-facts-item: a(href="http://laneta.se/") laneta.se/
                    li
                        span.ion-bag.quick-facts-icon
                        span.quick-facts-item Take away: Ja.
                    li
                        span.ion-compose.quick-facts-icon
                        span.quick-facts-item Bordsbokning: Nej
            .col-6
                h4 Motivering
                p
                    | Nu har vi inte varit i Mexiko, men vi tror att La Neta är så nära man kan komma
                    | tacos på en bakgata i Mexico City. Hemgjorda tortillas – både majs och vete –
                    | äkta salsa verde och riktigt bra kött gör La Neta till vinnare i kategorin
                    | Stockholms bästa taco.

    section.category(id="falafel", data-anchor="falafel")
        .row
            p.category-title.text-center Stockholms bästa Falafel
            h1.text-center.no-margin Falafelbaren

        .row.image-wrap
            img(src="img/falafel.jpg", style="width: 100%;")
            p.attribution
                a.no-border(href="http://www.falafelbaren.se/") Foto av Falafelbaren

        .row
            .col-1
            .col-4
                h4 Snabbfakta
                ul
                    li
                        span.ion-compass.quick-facts-icon
                        span.quick-facts-item: a(href="https://goo.gl/maps/69An8") Hornsgatan 39b
                    li
                        span.ion-home.quick-facts-icon
                        span.quick-facts-item: a(href="http://www.falafelbaren.se/") falafelbaren.se
                    li
                        span.ion-bag.quick-facts-icon
                        span.quick-facts-item Take away: Ja.
                    li
                        span.ion-compose.quick-facts-icon
                        span.quick-facts-item Bordsbokning: Nej
            .col-6
                h4 Motivering
                p
                    | Hemgjord och nyfriterad falafel samt fräscha tillbehör gör Falafelbaren
                    | till solklar vinnare i denna kategori. Det var inte helt enkelt att hitta
                    | en bra falafel i Stockholm så Falafelbaren är verkligen en god nyhet för
                    | alla falafelälskare därute.

    section.category(id="ramen", data-anchor="ramen")
        .row
            p.category-title.text-center Stockholms bästa Ramen
            h1.text-center.no-margin Ramen Ki-mama

        .row
            img(src="img/ramen.jpg", style="width: 100%; height: 400px;")

        .row
            .col-1
            .col-4
                h4 Snabbfakta
                ul
                    li
                        span.ion-compass.quick-facts-icon
                        span.quick-facts-item: a(href="https://goo.gl/maps/RKHZj") Birger Jarlsgatan 93
                    li
                        span.ion-home.quick-facts-icon
                        span.quick-facts-item: a(href="http://kimamma.se/ramen") kimamma.se/ramen
                    li
                        span.ion-bag.quick-facts-icon
                        span.quick-facts-item Take away: Ja.
                    li
                        span.ion-compose.quick-facts-icon
                        span.quick-facts-item Bordsbokning: Ja
            .col-6
                h4 Motivering
                p
                    | Vi rekommenderar Yakiniku ramen som serveras med strimlat entrecoté,
                    | kimchi och stark sås. Att restaurangen har en egen "fondmästare" – en
                    | äldre herre som en gång i veckan kommer in och sätter en perfekt fond –
                    | gör inte direkt vårt val svårare.