extends layouts/master

block content

    section.category
        .row
            p.category-title.text-center Stockholms bästa hamburgare
            h1.text-center.serif.no-margin-top Flippin' Burgers

        .row
            img(src="images/flippin.jpg", style="width: 100%; height: 400px;")

        .row
            .col-1
            .col-4
                h4 Snabbfakta
                ul
                    li
                        span.ion-location &nbsp;&nbsp;&nbsp;
                        | Stadsgårdshamnen 22
                    li
                        span.ion-ios-telephone &nbsp;&nbsp;&nbsp;
                        | 08-509 005 00
                    li
                        span.ion-clock &nbsp;&nbsp;&nbsp;
                        | Måndag-söndag: 17-23
                    li
                        span.ion-home &nbsp;&nbsp;&nbsp;
                        | flippinburger.se
            .col-6
                h4 Motivering
                p A Fox who had never seen a Lion one day met one, and was so terrified at the sight of him that he was ready to die with fear. After a time he met him again, and was still rather frightened, but not nearly so much as he had been when he met him first. But when he saw.

    section.category(id="top", data-anchor="top")
        .row
            p.category-title.text-center Stockholms bästa Sushi
            h1.text-center.serif.no-margin-top Råkultur

        .row
            img(src="images/flippin.jpg", style="width: 100%; height: 400px;")

        .row
            .col-1
            .col-4
                h4 Snabbfakta
                ul
                    li
                        span.ion-location &nbsp;&nbsp;&nbsp;
                        | Stadsgårdshamnen 22
                    li
                        span.ion-ios-telephone &nbsp;&nbsp;&nbsp;
                        | 08-509 005 00
                    li
                        span.ion-clock &nbsp;&nbsp;&nbsp;
                        | Måndag-söndag: 17-23
                    li
                        span.ion-home &nbsp;&nbsp;&nbsp;
                        | flippinburger.se
            .col-6
                h4 Motivering
                p A Fox who had never seen a Lion one day met one, and was so terrified at the sight of him that he was ready to die with fear. After a time he met him again, and was still rather frightened, but not nearly so much as he had been when he met him first. But when he saw.